.banner
{
    &__image
    {
        width: 100%;
        height: 300px;
        top: 90px;
        background-image: url('../../../assets/images/Rectangle.png');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding: 50px;
        p
        {
            width: $spacer-8;
        }
    }
}